@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  background-color: #E8F5E9;
  color: #4CAF50;
}

button {
  font-family: 'Lato', sans-serif;
}

.scrolling-container {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  padding-bottom: 1rem; /* to give space for scrolling */
}

.scrolling-container::-webkit-scrollbar {
  height: 8px;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-green-700 {
    scrollbar-color: #047857 #d1fae5;
  }

}